
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #fae1dd;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3.0rem;
    color: #000000;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.0rem;
    color: #AAAAAA;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
}

.buttons {
    width: 120px;
    height: 50px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 8px;
    color: #ffffff; 
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.buttons:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px #ef9a8a;
}

#Sunset {
    background-color: #FF6B6B; 
    /* border-color: white; */
}

#Nature {
    background-color: #6B8E23; 
}

#Ocean {
    background-color: #0D3B66; 
}

#Monochrome {
    background-color: #A9A9A9; 
}

#Candy {
    background-color: #FFE66D;
}

#Forest {
    background-color:#2C6E49 ;
}

#Lavender{
    background-color:#9B59B6;
}

#Autumn{
    background-color: #FF8C42;
}

#Sky{
    background-color: #00BFFF;
}

#Peach{
    background-color: #FF7F50;
}

#Rose{
    background-color: #E60000;
}

#Lime{
    background-color: #8DCE31;
}

.palette-container {
    display: flex;
    flex-direction: row; 
    height: 80vh;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.palette-container p {
    font-size: 15px; 
    color: #474343; 
    text-align: center; 
    margin-top: 10px;
    margin-left: 10px;
}


.color-code-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);  
    color: white; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.3s;
}

.color-code-button:hover {
    box-shadow: 0px 4px 8px black;
    background-color: rgba(0, 0, 0, 0.8);  
}



/*Media query */
